* {
    box-sizing: border-box;
}

@font-face {
    font-family: RobotoBoldItalic;
    src: url("./Roboto/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./Roboto/Roboto-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    color: rgb(241, 0, 189);
    background-image: url("./geocitiesbackground.png");
}

main {
    width: 99%;
    max-width: 800px;
}

header {
    font-family: "Comic Sans MS", cursive, sans-serif;
    left: 0;
    top: 0;
    width: 100%;
    color: rgb(241, 0, 189);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("./flames.gif")
}

h2 {
    font-size: 26px;
    font-weight: normal;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 5px;
    margin: 5px;
}

h3 {
    font-size: 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    line-height: 30px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    font-size: 24px;
  }


  p {
      font-family: "Comic Sans MS", cursive, sans-serif;
  }

.imagebox {
      background-color: rgb(241, 0, 189);
      color: white;
      height: 200px;
      width: 200px;
}

img {
    height: 200px;
    width: 200px;
    padding: 5px;
}
.app-description {
      text-align: left;
      margin-left: 20px;
}

footer {
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 5px;
    margin: 5px;
}

footer a {
    color: white;
}

address {
    font-style: normal;
    font-size: 20px;
  }

.app-description a {
    color: white;
}

@media only screen and (max-width: 500px) {
    .hidden {
        display: none;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
    }
    .topnav a.icon {
        background: black;
        border: 5px solid white;
        font-size: 32px;
      }
    h1 {
        font-size: 24px;
        padding: 5px;  
    }
    .topnav a {
        color: rgb(241, 0, 189);;
        padding: 5px 10px;
        text-decoration: none;
        display: block;
    }
    li {
        list-style-type: none;
        text-align: left;
        font-size: 24px;
    }   
    .geocities {
        border: 5px solid rgb(241, 0, 189);
        width: 200px;
    } 
  }

@media only screen and (min-width: 500px) {
    .hide {
        display: none;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        padding: 5px;
        width: 260px;  
        margin-left: auto;
        margin-right: auto;
    }

    .topnav a {
        color: rgb(241, 0, 189);;
        padding: 5px 10px;
        text-decoration: none;
    }
    li {
        list-style-type: none;
        font-size: 24px;
    }    
    .container {
        height: 70px;
    }
    .geocities {
        border: 5px solid rgb(241, 0, 189);
        width: 150px;;
    }
}

@media only screen and (max-width: 650px) {
.port-item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tech {
    font-size: 16px;
    line-height: 20px;
}
.app-descript {
    font-size: 20px;
}
.app-description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
}
@media only screen and (min-width: 650px) {
.port-item-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-description {
    width: 70%;
}
.tech {
    font-size: 16px;
    line-height: 20px;
}
.app-descript {
    font-size: 20px;
}
}