* {
    box-sizing: border-box;
}



@font-face {
    font-family: RobotoBoldItalic;
    src: url("./Roboto/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("./Roboto/Roboto-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    padding-top: 93px;
}

.hidden {
    display: none;
}

main {
    width: 99%;
    max-width: 800px;
}

header {
    position: fixed;
    font-family: Roboto;
    left: 0;
    top: 0;
    width: 100%;
    color: rgb(192, 185, 185);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style-type: none;
    text-align: left;
    font-size: 24px;
}  

.topnav a.icon {
    background: black;
    border: 5px solid white;
    font-size: 32px;
}

.topnav a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

h1 {
    font-size: 28px;
    padding: 5px;
    border: 5px solid white;    
}

h2 {
    font-size: 26px;
    font-weight: normal;
    font-family: Roboto;
    padding: 5px;
    border: 5px solid black;
    margin: 5px;
}

h3 {
    font-size: 24px;
    font-family: RobotoBoldItalic;
    line-height: 30px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 5px solid black;
    margin: 5px;
    font-size: 24px;
}

.port-item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 10px;
}

.portfolio-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tech {
    font-size: 16px;
    line-height: 20px;
}
.app-descript {
    font-size: 20px;
}
.app-description {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.important {
      font-family: RobotoBoldItalic;
}

p {
      font-family: Roboto;
}

.imagebox {
      background-color: black;
      color: white;
      height: 200px;
      width: 200px;
}

img {
    height: 200px;
    width: 200px;
    padding: 5px;
}

footer {
    font-family: Roboto;
    padding: 5px;
    margin: 5px;
    border: 5px solid black;
}

address {
    font-style: normal;
    font-size: 20px;
  }

.geocities {
    border: 5px solid black;
    width: 200px;
}  

@media only screen and (min-width: 500px) {
    .hide {
        display: none;
    }
    .hidden {
        display: flex;
    }
    body {
        margin-top: 45px;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        padding: 5px;
        border: 5px solid white; 
        width: 275px;  
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
    .topnav a {
        color: white;
        padding: 5px 10px;
        text-decoration: none;
    }
    .topnav a.icon {
        display:none;
    }
    li {
        list-style-type: none;
        font-size: 24px;
    }    
    .container {
        height: 100px;
    }
    .geocities {
        border: 5px solid black;
        width: 150px;
    }
    header {
        height: 135px;
    }
}

@media only screen and (min-width: 760px) {
.port-item-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.app-description {
    width: 70%;
    text-align: left;
}
.tech {
    font-size: 16px;
    line-height: 20px;
}
.app-descript {
    font-size: 20px;
}
}