* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

nav {
    font-size: 24px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
}

h2 {
    min-height: 10px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }

  footer {
    min-height: 100px;
    background-color: #ddd;
  }

  .imagebox {
      background-color: black;
      color: white;
      height: 200px;
      width: 200px;
  }

  .app-description {
      text-align: left;
      margin-left: 20px;
  }